/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 3, 2015, 2:26:37 PM
    Author     : hth
*/

body{
    background-color: #0F0F0F;
    color: #EBEBEB!important;
}

.ui-inputfield {
    margin: 5px!important;
}

.mybutton {
    margin: 10px!important;
}

.heading{
    text-align: center;
}

.container{
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
}

#mapcontainer{
    background-color: lightgray;
    width: 480px;
    height: 480px;
    float: left;
    margin-left: 5%;
    margin-top: 10px;
}

#lform{
    text-align: center;
}

#regform{
    text-align: center;
}

